<div class="center">
    <div class="relative">
        <div class="Github-Search">
            <b>Github</b>
            <span class="text-style-1"> Search</span>
        </div>
        <form (submit)="searchSubmit()">
            <div class="alinhar">
                <input type="text" class="Search-Input search-text" name="userLogin" [(ngModel)]="userLogin">
                <button type="submit" class="search-button">
                    <img src="./assets/img/search-icon.svg" class="Search-Icon">
                </button>
            </div>
        </form>
    </div>
</div>